<my-tag>
    
    <p each={ a in b } class={ jss({ _class: true }) }>

        { state.hello ? "hello world" : "bye" }
        
    </p>

    <script>
    
        import abc from 'abc'

        export default () => ({
            
            onMounted() {},

            method() {

            }
        
        })

    </script>

    <style>
        .myClass {
            border: 2px dotted;
        }
    </style>
</my-tag>